@{ ViewData["Title"] = "Home Page"; }

<div class="section-header">
    <h1>Seayo</h1>

    <div style="margin-top: 10px; font-size: 36px;">
        Upload and Compress Your Pictures
    </div>

    <div style="height: 300px;">

    </div>
</div>