/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.demo-layout-transparent {
  background: url('/images/hero-banner.jpg') center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}

.login-card.mdl-card {
  width: 320px;
  height: 320px;
}
.login-card > .mdl-card__title {
  color: #fff;
  text-shadow: 1px 1px gray;
  background: #46B6AC;
}
.login-card-google > .mdl-card__title {
    background: url('/images/google-login.png') center / cover;
}
.login-card-facebook > .mdl-card__title {
    background: url('/images/facebook-login.jpg') center / cover;
}
.login-card-twitter > .mdl-card__title {
    background: url('/images/twitter-login.jpg') center / cover;
}

.feature-card.mdl-card {
  width: 640px;
  height: 320px;
  margin: 0 auto;
}
.feature-card > .mdl-card__title {
  color: #fff;
  text-shadow: 1px 1px gray;
  background: #46B6AC;
}
.feature-card-image-upload > .mdl-card__title {
    background: url('/images/image-upload.jpg') center / cover;
}

.section-header {
    text-align: center;
    color: white;
    text-shadow: 2px 2px gray;
    margin-top: 50px;
    margin-bottom: 30px;
}